<!DOCTYPE html>
<html lang="ru">
<head>
    <% var model = require('./src/index-data.js').ru %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= model.pageTitle %></title>
</head>
<body>
    <div id="content">
        <div class="nav-bar-container">
            <div class="nav-bar">
                <div class="logo-container">
                    <div class="logo"></div>
                </div>
                <div class="sections">
                    <% model.menu.forEach(function (menuItem) { %>
                        <a
                            <%= menuItem.href ? 'href="' + menuItem.href + '"' : '' %>
                            class="section">
                            <%= menuItem.caption %>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="header-container">
            <div class="header">
                <%= model.title %>
            </div>
        </div>
        <div class="block-container">
            <div class="blocks row">
                <% model.blocks.forEach(function(block) { %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="block">
                            <% if (block.image) { %>
                                <div class="image">
                                    <img src='<%= block.image %>' />
                                </div>
                            <% } %>
                            <div class="content">
                                <h3>
                                    <a href="<%= block.header.href %>">
                                        <%= block.header.caption %>
                                    </a>
                                </h3>
                                <span class="text">
                                    <%= block.text %>
                                </span>
                                <div class="links">
                                    <% block.links.forEach(function(link) { %>
                                        <a href="<%= link.href %>">
                                            <%= link.caption %>
                                        </a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <div class="clear-fix"></div>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer">
                <div class="kontur-logo"></div>
                <span>c 1988 года</span>
                <div class="languages">
                    <a class="active">Ru</a>
                    <a href="#">En</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
