@import "./common/reset.less";
@import "./common/flexbox-grid.css";
@import "./common/typography.less";
@import "./common/mixins.less";

@import "./nav-bar.less";
@import "./title.less";
@import "./blocks.less";
@import "./footer.less";

//=================================
// LAYOUT
//=================================

html, body {
    height: 100%;
}

html.overlay {
    overflow: hidden;
}

.fixed-width-content {
    margin: 0 auto;
    max-width: @max-width;
    box-sizing: border-box;
    padding-left: @xs-h-padding;
    padding-right: @xs-h-padding;
    .sm-viewport({
        padding-left: @sm-h-padding;
        padding-right: @sm-h-padding;
    });
    .md-viewport({
        padding-left: @md-h-padding;
        padding-right: @md-h-padding;
    });
}

//=================================
// VISUAL STYLES
//=================================

body {
    background-color: @xs-main-background-color;
    .sm-viewport({
        background-color: @main-background-color;
    });
}

a {
    text-decoration: none;
    color: #1e79be;

    &:hover {
        text-decoration: underline;
        color: #009be6;
    }
}
