@import "./common/mixins.less";
@import "./common/variables.less";

//====================================
// VISUAL STYLES
//====================================

.title-container {
    background-color: @header-background-color;

    h1 {
        font-size: 26px;
        font-weight: 300;

        .sm-viewport({
            font-size: 38px;
            font-weight: 200;
        });

        .md-viewport({
            font-size: 52px;
        });
    }
}

