<!DOCTYPE html>
<html lang="ru">
<head>
    <% var model = require('../models/talks.js').ru %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= model.pageTitle %></title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="nav-bar-container">
                <div class="nav-bar" id="nav-bar">
                    <div id="site-navigation-menu-overlay" class="overlay"></div>
                    <div class="logo"></div>
                    <button class="site-navigation-button" id="site-navigation-button">
                        <span class="button-hamburger"></span>
                        <span class="button-close"></span>
                    </button>
                    <nav class="site-navigation" id="site-navigation">
                        <ul>
                            <% model.menu.forEach(function (menuItem) { %>
                                <li>
                                    <a
                                        <%= menuItem.href ? 'href="' + menuItem.href + '"' : '' %>
                                        class="site-section">
                                        <%= menuItem.caption %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="title-container">
                <h1 aria-level="1"><%= model.title %></h1>
            </div>
        </header>
        <main class="block-container">
        </main>
        <div id="push"></div>
    </div>
    <div class="footer-container">
        <footer class="footer">
            <div class="kontur-logo"></div>
            <span>c 1988 года</span>
            <div class="languages">
                <a class="active">Ru</a>
                <a href="#">En</a>
            </div>
        </footer>
    </div>
</body>
</html>
