@padding-top: 25px;
@padding-hor: 25px;
@image-size-hor: 40px;

.block-container {
    max-width: 1000px;
    box-sizing: content-box;
    padding: 0 20px;
    margin: 0 auto;
}

.blocks {
}

.block {
    margin-top: 1rem;
    height: 200px;
    box-sizing: border-box;
    background-color: white;

    border: 1px solid #F0F0F0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    transition: box-shadow 0.15s ease;

    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;

    .image {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: @padding-hor;
    }

    .content {
        position: relative;
        flex-grow: 0;
        flex-shrink: 1;
    }

    &:hover {
        box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);
    }
    padding: @padding-top @padding-hor;


    h3 {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        font-size: 22px;
        line-height: 1.5;
    }

    &:hover .links {
        display: inherit;
        opacity: 1;
    }

    .text {
        font-size: 14px;
        line-height: 1.5;
    }

    .links {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }
}
